html,
body,
#root,
.App {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.scroll-container {
	padding: 0 1rem;
	scroll-padding-left: 1rem;
	scroll-padding-right: 1rem;
	overflow-x: auto;
	display: flex;
	gap: 0.8rem;
}

.scroll-container::-webkit-scrollbar {
	display: none;
}

.scroll-container {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
